/* 


PRIMARY COLOR  :#5fc570
GREY COLOR
TINTS - f0fbf2, 69db7c,  54af63
SHADES -
SECONDARY COLOR

*/

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  color: #444;
}
.section-hero {
  max-width: 100vw;
  height: 100vh;
  background-color: #f0fbf2;
  margin-bottom: 5.2rem;
}
header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  margin-left: 3rem;
}
header h1 svg {
  width: 5rem;
  animation-name: my-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes my-anim {
  0% {
    color: #2a5832;
  }

  100% {
    color: #54af63;
  }
}
header h1 {
  display: flex;
  align-items: center;
  font-size: 4rem;
}
nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 0 2rem;
}

nav li a:link,
nav li a:active {
  font-size: 1.8rem;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  margin-right: 1rem;
  transition: all 0.2 ease;
}
nav li a:hover {
  color: #54af63;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
  align-items: center;
}
.hero-text {
  padding: 1.6rem;
}
.hero-image {
  max-width: 100%;
  border-radius: 15px;
}

.heading-primary {
  font-size: 4.8rem;
  /* line-height: 0.9; */
  margin-bottom: 2.4rem;
  letter-spacing: -0.5;
}
.hero-slogan {
  font-size: 2.8rem;
  margin-bottom: 4.8rem;
}

.btn {
  display: inline-block;
  font-size: 1.8rem;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn--1,
.btn--3 {
  color: #fff;
  padding: 0.8rem 1.6rem;
  background-color: #5fc570;
  margin-right: 0.8rem;
}
.btn--1:hover,
.btn--3:hover {
  background-color: #54af63;
  cursor: pointer;
  color: #fff;
}
.btn--2 {
  background-color: #eaecea;
  padding: 8px 16px;
  color: #666;
}
.btn--2:hover {
  box-shadow: inset 0 0 0 3px rgb(208, 206, 206);
}

/* FREE MEAL CONTAINER */
.free-meal-container {
  max-width: 80%;
  background-color: #69db7c;
  height: auto;
  margin: 5rem auto;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  color: #1f4225;
}

.free-meal-text {
  padding: 3rem 5rem;
}
.free-meal-text h1 {
  font-size: 3.8rem;
  margin-bottom: 1rem;
}

.free-meal-text p {
  font-size: 2.4rem;
  /* padding: 0 4rem; */
  color: #1f4225;
}
.free-meal-image {
  max-width: 300px;
  border-radius: 8px;
}

.free-meal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 3rem 0;
  gap: 2rem;
  align-items: end;
}

.form-input {
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  background-color: #f0fbf2;
  border: none;
}
.btn-sign-up {
  border-radius: 5px;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  align-self: end;
  background-color: #1f4225;
  color: #f0fbf2;
  font-size: 1.8rem;
  border: none;
}
.btn-sign-up:hover {
  background-color: #fff;
  color: #1f4225;
}
